.navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

.brand {
  font-size: 1.2em;
  color: #84cc16;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list li a {
  margin-right: 1em;
  padding: 0.4em 0.6em;
  border-radius: 0.3em;
}

.active {
  background-color: #93c24d;
  color: #000;
}

@media screen and (max-width: 768px) {
  .brand {
    display: none;
  }
}
